<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= pageTitle %> </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Free FMS Admin Template come up with latest Bootstrap 4 framework with basic components, form elements and lots of pre-made layout options" />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, FMS, FMS bootstrap admin template, free admin theme, free dashboard template"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
    <script src="https://kit.fontawesome.com/b93ed36b06.js" crossorigin="anonymous"></script>
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/style.css">
   
    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="Financial_Management_System\public\css\owl.carousel.min.css">
    <link rel="stylesheet" href="Financial_Management_System\public\css\owl.theme.default.min.css">
    <!-- Custom Style   -->
    <!-- <link rel="stylesheet" href="Financial_Management_System\public\css\dashoard.css"> -->
    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="Financial_Management_System\public\css\aos.css">


    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

</head>