<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/navigation.ejs') %>
<!-- main content -->
 <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">ADD WALLET</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/dashboard"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#">Add Wallet</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Wallet's Info</h5>
                                        </div>
                                        <form class="card-body" action="/addWallet" method="POST">
<!--                                            <h5>Enter your new earning</h5>-->
<!--                                            <hr>-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div>
                                                        <div>
                                                            <label>Type</label>
                                                            <select required class="mb-3 form-control" name="type">
                                                                <option>Select type</option>
                                                                <option>Cash</option>
                                                                <option>Bank</option>
                                                                <option>Debts</option>
                                                                <option>Savings</option>
                                                            
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Account Balance</label>
                                                            <div class="input-group mb-3">
                                                                <input required type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="acc_balance">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="inputGroup-sizing-default">VND</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <div class="form-group">
                                                            <label>Wallet name</label>
                                                            <div class="input-group mb-3">
                                                                <input required type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="form-group">
                                                            <label>Percentage</label>
                                                            <div class="input-group mb-3">
                                                                <input value="0" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="percentage">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="form-group">
                                                            <label>Period</label>
                                                            <div class="input-group mb-3">
                                                                <input value="0" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="period">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="exampleFormControlTextarea1">Note</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                    <!-- Input group -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- end of main -->
    <%- include('./includes/script.ejs') %>
</body>
</html>