@import url('../css/fonts.css');

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.budget{
    color: #04a9f5;
    margin: 5px;
    margin-top: 2px;
    font-size: 70px;
    font-weight: 200;
}
.wallet{
    margin: 3px;
    font-size: 15px;
    color: #04a9f5;
}

.db-btn{
    border-radius: 15px;
    background-color: #04a9f5;
    /* opacity: 90%; */
    border: #fff;
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 30px;
}

.db-btn:hover{
    background-color: #0082be;
    border: #fff;
}

.db-btn:active{
    background-color: #04a9f5;
    border: #fff;
}



/* --------------- Chart ---------------*/
.db-charts {
    display: flex;
  }
  
.db-charts-card {
    background-color: #ffffff;
    margin-bottom: 70px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 0px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-left: 70px;
    width: 60rem;
    height: 30rem;
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: black;
}


.recent-card{
    background-color: #ffffff;
    padding: 25px;
    box-sizing: border-box;
    border: 0px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    margin: 40px 60px;
    margin-bottom: 70px;
    width: 30rem;
    height: 30rem;
}

.recent-card-body{
    color: rgb(100, 93, 93);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.w-100{
    margin: 10px;
}

.w-100-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-2{
    margin: 0;
}

.expense{
    margin: 0;
}

.d-flex{
    display: flex;
    align-items: center;
}

.mb-0{
    margin: 5px;
    font-size: 12px;
}


.border-bottom{
    border-bottom: 1px solid #b5b8bc !important;
}

.detail-content{
    color: rgb(106, 105, 105);
    cursor: pointer;
}

.detail-content:hover{
    color: #04a9f5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.slide-body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  height: 270px;
  display: flex;
  align-items: center;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  width: 900px;
}
.card-wrapper{
    width: 100%;
}
.db-card {
    
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    height: 200px;
    width: 300px !important;
    background-image:linear-gradient(rgb(39, 72, 238),rgba(163, 53, 232, 0.8));
    opacity: 85%;
    border-radius: 20px;
    color:white;
    margin:30px;
    font-size: 16px;
    box-shadow: 2px 2px 20px #707070;
  }
  .top-block {
    display: inline-block;
    width:100%;
    height:70px;
  }
   .bottom-block {
    display:inline-block;

    width:100%;
    height:130px;
  }
  .card-chip {
    float:left;
    margin: 20px;
    font-size: 30px;
  }
  .card-name {
    float:right;
    margin:20px;
    position:relative;
    font-size: 20px;
    font-weight:550;
  }
  .balance {
    float:left;
    margin: 20px;
    position:relative;

  }
  .card-balance {
    font-weight:700;
    font-size: 35px;
    margin-top:10px;
  }
  .card-icon {
    float:right;
    margin: 0 20px 0 0;
    margin-top:40px;
  }
  .circle-left {
    margin-right: -15px;
    opacity:0.7;
  }
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
    margin-right: 135px;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination{
    margin-left: -90px;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  .db-add-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

  }
  .fa-plus-circle{
    font-size: 100px;
  }
  .add-inf{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
}