@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.h-main-body{
    display: flex;
    flex-direction: column;
}
.ew-page-wrapper-2{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.addWallet{
    background-color: #04a9f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 70px;
    height: 35px;
}

.addWallet:hover{
    background-color: #0294d8;
}

.add-btn>a{
    color: #fff !important;
}

table th,
table td {
    text-align: center;
}

.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
